.mainmenuwrapper{
    color:#711b79;
    font-size:11pt;
    font-family:Verdana,Helvetica,Arial,sans-serif;
    background:#3f2646 url("http://imgur.com/G3Hfro1") no-repeat scroll right top (63, 38, 70);
}
.chat-log {
    font-size:10pt;
    background:url("http://mob301.photobucket.com/albums/nn60/Zenkar_2008/Pokemon/xerneas.png?t=1359035086") no-repeat scroll right bottom;
    color:#000;
    overflow:auto
}

.menugroup .button:hover{
    background:#C00000  none repeat scroll 0 0;
    opacity:.8;
}

.menugroup .button:hover{
    border-color:#20354a;
}

.ps-room.ps-room-light{
color:#000;

}

.chat-log-add{
    padding:3px 4px 0;
    border-top:1px solid #483d8b;

}

.mainmenufooter small{
      width:200px

}

.battle-log{
text-align:left;
border:1px solid #C0C0C0;
background:#f3c0f4;
color:#000;
height:360px;
font-family:Verdana,sans-serif;font-size:10pt;overflow:auto

}

.message-pm{
color:#5c3566

}

.setchart input:focus, .setchart-nickname input:focus, .statform input.inputform:focus, .textbox:focus
{
    border:1px solid #048;
    background:#fff none repeat scroll 0 0;
}
.tabbar{



   
  }

.userbar{
  display:block;

  content:"";

        width:80px;

        height:32px;

        float:right

}
.userbar .username{





}



.icon-user{

     display:none

    }



.siderooms{
background:#161616;

      height:56px;

     }


.maintabbarbottom{



border:none





}



.header {

height:56px;

  background:#161616

}



.header .logo{
float:left;

margin:7px 0 0 2px;

}

.menugroup .button{
    opacity:.4;
    font-size:12pt;
    font-family:Verdana,Helvetica,Arial,sans-serif;
    display:inline-block;
    padding:1px;
    width:200px;
    text-align:center;
    text-decoration:none;
    color:#D00000 ;
    border:1px solid #aaa;background:#982edd none repeat scroll 0 0;
    list-style-type:none;
    margin:0

.userlist,
.userlist li
}
.userlist
{
        border-left:1px solid #a066aa;
        background:#f3c0f4
}
.userlist li
{
        border-bottom:1px solid #a066aa;
        height:19px;
        font:10pt Verdana,sans-serif;
        white-space:nowrap
}
.userlist li em.group
{
        font-style:normal;
        font-size:8pt;
        color:#a066aa;
        display:block;
        float:left;
        text-align:center;
        padding:1px 0 0 1px;
        width:14px
}
.userlist li button
{
        display:block;
        height:auto;
        background:transparent;
        border:0;padding:0;
        margin:0;
        width:100%;
        white-space:nowrap;
        font:10pt Verdana,sans-serif;
        text-align:left;
}
.userlist li button:hover
{
        background:#62A9FA;
}
.userlist li button:active
{
        background:#62A9FA;
}
.userlist li.cur
{
        background:#62A9FA
}
.userlist li.cur button,
.userlist li.cur button:hover
{
        background:#62A9FA;
        margin:0 0 0 -1px;
}
